.input-wrapper {
    margin: 0px 16px 16px 16px;
    position: relative;
    padding-top: 20px;
}

.input-wrapper > input {
    height: 35px;
    min-width: 120px;
    width: 100%;
    font-size: 16px;
    letter-spacing: 0.5px;
    border: none;
    border-bottom: solid 1px #000;

    &:active,
    &:focus {
        outline: none;
        border-color: #e91e63;
    }
}

.input-wrapper > input:focus + label,
.input-wrapper > input:active + label {
    color: #e91e63;
}

.input-wrapper > label {
    font-size: 14px;
    color: grey;
    margin-bottom: 7px;
    display: block;
    position: absolute;
    top: 0px;
    width: 100%;
    cursor: text;
}

.error-message {
    font-size: 13px;
    color: #ff1100;
    margin-top: 7px;
}
